@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.answer-button{
  background-color: #FDE12D !important;
  color: #171d1c !important;
  border-radius: 10px !important;
  width:120px;
  height:45px;
}
h1,p{
  font-family: 'Bree Serif', serif;
}
.bold-text{
  font-weight:bold;
}
.flex-space-evenly{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
}
.game{

  border-radius: 20px !important;
  border: 5px solid #171d1c;
  margin: 40px auto;
  width:40vw;
  height:50vh;
}

.postAnswer{
  position: relative;
  z-index: 999;
}
.afterAnswer {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;}
button.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
img {
  width: 82px;
  margin-bottom: 15px;
}

button.accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

